
wave-element, moving-wave-element{
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    height: 10vh;
    display: block;
}

moving-wave-element > canvas,
wave-element > canvas{
    width: 100%;
    height: 100%;
}